body {
    background-color: #f8f9fa;
}

h1, h2 {
    color: #343a40;
}

.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: 0 auto;
}

nav.navbar {
    background-color: #7FFFD4 !important;
}

.nav-link {
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-brand {
  font-weight: bold;
}

.dropdown-item {
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.custom-select-wrapper {
  position: relative;
}

.custom-select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 2.5rem;
}

.dropdown-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 18px;
  color: #6c757d;
  z-index: 2;
}